
.color{
  background-color: #ff7d00;
  background-color: #f7b105;
  background-color: #012e46;
  background-color: #2099b6;
  background-color: #88c3dc;
  background-color: #afd7cd;
  background-color: #6d9c9f;
  background-color: #8389af;
  background-color: #a786af;
  background-color: #edadd1;
  background-color: #f4dbfa;
  background-color: #1c1432;
}

.container{
  height: 65px;
  background-color: #1c1432;
  padding: 15px;
}

.logoD{
  margin-left: 20px;
}

.logo{
  width: 5%;
}

.izq{
  margin-top: -60px;
  text-align: right;
}

.izq a{
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  margin-right: 30px;
  margin-left: 25px;

  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500px;
}

.izq .registrar{
  background-color: #fff;
  color: #fdc578;
  font-weight: 00;
}

.second{
  width: 17%;
  margin: 3% 40%;
  /* background-color: #88c3dc; */
  height: 20px;
  /* background-color: #feebd0; */
  text-align: left;
}

.second a{
  background-color: #1f48a8;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 18px;
  margin-left: 20px;
  font-size: 20px;
}
.mat-dialog-container{
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 150%;
  height: 80%;
  min-height: inherit;
  max-height: inherit;
}


.user{
  border: none;
  font-size: 20px;
  color: white;
  padding: 20px;
  cursor: pointer;
  background-color: transparent;
}


i{
  margin-left: 10px;
}