.imagen{
  width: 20%;
  height: 100vh;
  display: inline-block;
  background-size: cover;
  background-position: center center;
  border-left: 8px black solid;
  
}
.i1{
  border-left: 0px;
}

.fondo{

  height: 100vh;
  width: 100%;
}

h1{

  color: white;
  font-size: 80px;
  justify-content: center;
  align-items: center;
  margin: 10% 30%;
  position: absolute;
  z-index: 2;
  text-align: center;
  
}