
<!-- <app-sidebar></app-sidebar> -->
<div class="absolute">

  <!-- <mat-card class="example-card">
    <img mat-card-image src="../../../../assets/img/kpop.webp" alt="photo">
    
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Nosotros</mat-card-title>
      <mat-card-subtitle>te invitamos a crear un nuevo tema</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="crearForo(0)">
        Crear Tema
      </button>
    <button mat-stroked-button color="primary" routerLink="/login">Unete ahora</button>
    </mat-card-actions>
  </mat-card> -->
</div>

<div class="absoluteDER">

  <mat-card class="example-card" *ngFor="let element of listaUsuarios; let i = index">
    
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> {{ element.usuario }}</mat-card-title>
      <mat-card-subtitle> descripcion </mat-card-subtitle>
    </mat-card-header>
    
  </mat-card>
</div>

<br>

<div class="Filas">

  <div class="titulo">
    <h2>NUEVOS TEMAS</h2>
  </div>

  <div class="primer" *ngFor="let element of listaTemas; let i = index">
    <div class="der">
      <h1 class="sub"> {{ element.titulo }}</h1>
    </div>
    <div class="izq">
      <p class="cantidadMensajes">
        {{ cantidad_mensajes }} <br>mensajes
      </p>

      <p>descripcion del foro 1</p>
      <button (click)="verUnForo(element.foroid)">Ver</button>

    </div>
  </div>
</div>

<br>

<div class="Filas">

  <div class="titulo">
    <h2>GRUPOS FEMENINOS <button (click)="crearForo(1)">Crear Temas</button></h2>
  </div>

  <div class="primer" *ngFor="let element of listaTemas; let i = index">
    <div class="der">
      <h1 class="sub"> {{ element.titulo }}</h1>
    </div>
    <div class="izq">
      <p class="cantidadMensajes">
        {{ cantidad_mensajes }} <br>mensajes
      </p>

      <p>descripcion del foro 1</p>
      <button (click)="verUnForo(element.foroid)">Ver</button>

    </div>
  </div>
</div>







