<div class="login-page">
<mat-card class="mat-elevation-z12">
  <!-- <mat-card-title style="text-align:center;">Iniciar sesion/Registro</mat-card-title> -->
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
    <!-- Iniciar sesion -->
    <mat-tab label="Iniciar sesion">
      <mat-card-content>
      <mat-spinner class="spinner" *ngIf="loading"></mat-spinner>
      <form [formGroup]="form">
        <span class="bien">--Bienvenido--</span>
        <h1 class="inicio">Inicie Sesion</h1>

        <mat-form-field class="ancho" >
          <mat-label>Usuario</mat-label>
          <input type="text" matInput
          formControlName="usuario"
          [class.is-invalid]="usuarioNoValido"
          >
        </mat-form-field>
        <small class="text-danger" *ngIf="usuarioNoValido">
          Ingrese un nombre de usuario
        </small>
        

        <mat-form-field class="ancho" >
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput
          formControlName="pass1"
          [class.is-invalid] = "pass1NoValido"
          >
        </mat-form-field>
        <small class="text-danger" *ngIf="pass1NoValido">
          Ingrese una contraseña
        </small>

        <br>
        <button type="submit" class="btn" mat-raised-button color="primary" [disabled]="form.invalid" (click)="ingresar()">Ingresar</button>
      </form>
      </mat-card-content>
    </mat-tab>

    <!-- Registro -->
    <mat-tab label="Registro">
      <mat-card-content>
   <app-registrar></app-registrar>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>
</div>