mat-form-field {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px !important;
}

.text-center {
  text-align: center;
}

button {
  display: block;
  width: 80%;
  margin: 2% 0;
  padding: 2%;
  font-size: 20px;

}

.login-page {
  top: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  display: block;
  background-color: #303F9F;
  background-image: linear-gradient(to top, rgb(207, 217, 223, 0.4) 0%, rgb(226, 235, 240, 0.4) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

mat-card {
  width: 30%;
  margin: 5% auto;
  border-radius: 8px;
  height: 40vw;
}

mat-form-field {
  width: 80%;
  display: block;
  margin: auto;
}

mat-card-content {
  margin-top: 20px;
}
